@use '@/styles/index';
@import url('https://fonts.googleapis.com/css2?family=Bebas%20Neue:wght@400&display=swap');

.slider_container {
  height: 200px;
  position: relative;

  .information_card {
    padding: 0 45px;
    pointer-events: none;

    .date {
      font-family: 'Bebas Neue', system-ui;
      font-size: 20px;
      line-height: 35px;
      color: #3877EE;
    }

    .description {
      font-family: 'Bebas Neue', system-ui;
      margin-top: 15px;
      font-size: 18px;
      line-height: 30px;
    }
  }

  div {
    div:nth-of-type(2) {left: 0}
    div:nth-of-type(3) {right: 0}
  }
}

@media (max-width: 700px) {
  .slider_container {
    padding-top: 20px;
    border-top: 1px solid index.$primary-line-color;

    .information_card {
      padding: 0 5px;

      .date {
        line-height: 13px;
        font-size: 17px;
      }

      .description {
        line-height: 25px;
        font-size: 15px;
        height: 130px;
      }
    }
  }
}