@use '@/styles/index';

.date_container {
  display: flex;
  position: relative;
  margin-top: 155px;
  justify-content: center;
  gap: 100px;
  z-index: 10;
  margin-bottom: 200px;

  > h1 {
    line-height: 160px;
    font-size: 200px;
    letter-spacing: -5px;
  }

  .date_from {
    color: index.$blue-color;
  }

  .date_to {
    color: index.$pink-color;
  }
}