@use '@/styles/index';

.info_container {
  margin: 0 70px;

  .pagination {
    display: block;
    font-family: 'Bebas Neue', system-ui;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 18.12px;
  }
}

@media (max-width: 870px) {
  .info_container {
    display: inline-block;
    margin: 0;

    .pagination {
      margin-bottom: 4px;
    }

    > strong {
      display: block;
      margin-bottom: 10px;
    }
  }
}