@use "@/styles/index";

.heading {
  position: relative;
  line-height: 67.2px;
  padding-left: 70px;
  font-weight: 700;
  font-size: 56px;

  &::before {
    content: '';
    position: absolute;
    width: 5px;
    bottom: 0;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, #3877EE, #EF5DA8);
  }
}