@use '@/styles/index';

.main_layout {
  position: relative;
  max-width: 1440px;
  padding-top: 15vh;
  height: 100vh;
  margin: 0 auto;
  border: 1px solid index.$auxiliary-line-color;

  &::after,
  &::before {
    content: '';
    position: absolute;
    background-color: index.$auxiliary-line-color;
  }

  &::after {
    height: 1px;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    top: 50%;
  }

  &::before {
    width: 1px;
    transform: translateX(-50%);
    top: 0;
    bottom: 0;
    left: 50%;
  }
}